<template>
  <div>
    <Nav />
 <div class="background">
   
      <div class="bg-img">
    <ag-grid-vue
      style="width: 80%; height: 100vh; margin: 10px auto;"
      class="ag-theme-alpine"
      :columnDefs="columnDefs"
      :rowData="rowData"
      rowSelection="multiple"
> 
    </ag-grid-vue>
  </div>
  </div>
  </div>
</template>

<script>
import Nav from "@/components/Nav";
import axios from "axios";
import { AgGridVue } from "ag-grid-vue";

export default {
  name: "Dashboard",
  data() {
    return {
      columnDefs: null,
      rowData: null,
      todos: null,
    };
  },

  components: {
    Nav,
    AgGridVue,
  },

  mounted() {

  },

  methods: {
    
  },

  beforeMount() {
    this.columnDefs = [
      { headerName: "name", field: "name", sortable: true, filter: true },
      {
        headerName: "alpha3Code",
        field: "alpha3Code",
        sortable: true,
        filter: true,
      },
      { headerName: "capital", field: "capital", sortable: true, filter: true },
      { headerName: "region", field: "region", sortable: true, filter: true },
      {
        headerName: "subregion",
        field: "subregion",
        sortable: true,
        filter: true,
      },
      {
        headerName: "population",
        field: "population",
        sortable: true,
        filter: true,
      },
      { headerName: "info_Pais", field: "info_Pais", sortable: false, filter: false},
    ];

      axios
        .get("https://restcountries-v1.p.rapidapi.com/all", {
          headers:
          {
            "x-rapidapi-key": "b7d3ac7e5bmsh0e676357ee5a57fp1ac814jsn6d1b18004e66",
            "x-rapidapi-host": "restcountries-v1.p.rapidapi.com",
            "useQueryString": true
          }
        })
        .then((response) => {
          this.rowData = response.data;
          console.log(this.rowData);
          var i=0;
          this.rowData.forEach(element => {
             Object.defineProperty(this.rowData[i],'info_Pais',{value: "<a href='https://restcountries-v1.p.rapidapi.com/alpha/'>" +element.alpha3Code+"</a>"});
             i++;
            });
         
          
        })
        .catch((e) => console.log(e));


    
  },
};
</script>


<style>
.background {
  height: 100vh;
  width: 100%;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}
</style>