<template>
  <div class="home">
    <Nav/>
     
    <div class="background">
  <div class="bg-img">
    <div class="container" style="text-align: center;">
    <img src="../assets/multigroup-logo.png" alt="">
    </div>
  </div>
</div>

  </div>

</template>

<script>
// @ is an alias to /src
import Nav from'@/components/Nav'

export default {
  
  components: {
    Nav
  }
}


</script>

<style>

.background {
  height: 100vh;
  width: 100%;
  
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  display: flex;
  align-items: center;
}

.bg-img img{
  margin: 0 auto;
}
</style>
