<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <router-link to="/"
        ><b-navbar-brand href=""> Multiapp</b-navbar-brand></router-link
      >

      <template v-if="user">
        <div>    
          <b-dropdown>
          <template #button-content>
            {{user.email}}
          </template>
          <b-dropdown-item @click="dashboard">Dashboard</b-dropdown-item>
          <b-dropdown-item @click="logout">Cerrar Sesion</b-dropdown-item>
          
        </b-dropdown>
        </div> 
      </template>

      <template v-else>
        <router-link class="btn btn-primary" to="/login">
          Iniciar Sesion
        </router-link>
        <router-link class="btn btn-warning ml-3" to="/register">
          Registrase
        </router-link>
      </template>
    </b-navbar>
  </div>
</template>

<script>
import firebase from 'firebase'
export default {

data(){
  return{
  user: null
  }
},

methods: {
  dashboard(){
      this.$router.push({name: 'Dashboard'});
  },

   logout(){
     firebase.auth().signOut().then(()=>{
       this.$router.push({name: 'login'});
     })
   }
},
created() {
  firebase.auth().onAuthStateChanged(user =>{
    if(user){
      this.user = user
    }else{
      this.user = null
    }
  })
}
};
</script>
