<template>
  <div>
    <Nav />
    <div class="background">
      <div class="bg-img">
        <div class="container">
          
              <div style="margin: 0 auto; text-align:center">
              <a
                class="btn btn-danger"
                @click="socialLogin" style="display: inline-block; width:100%; max-width: 48rem;">
                G Ingrese con Google <span class="badge badge-primary"></span>
              </a>
              </div>
          <div class="card mt-3" style=" margin: 0 auto; max-width: 48rem;">
            <div class="card-body">
              <h3 class="card-title">Iniciar Sesion</h3>
              <hr />
              <form action="#" @submit.prevent="login">
                <div class="form-group">
                  <label for="">Correo:</label>
                  <input
                    type="email"
                    name=""
                    id="correo"
                    class="form-control"
                    placeholder="Ingrese su Correo"
                    aria-describedby="helpId"
                    v-model="correo"
                  />
                </div>

                <div class="form-group">
                  <label for="">Contraseña:</label>
                  <input
                    type="password"
                    name=""
                    id="contraseña"
                    class="form-control"
                    placeholder="Ingrese su COntraseña"
                    aria-describedby="helpId"
                    v-model="password"
                  />
                </div>

                <button type="submit" class="btn btn-primary">
                  Iniciar Sesion
                </button>
              </form>

              <div class="alert alert-danger mt-3" role="alert" v-if="error">
                {{ error }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/firebase/init.js";
import Nav from "@/components/Nav";
import firebase from "firebase";

export default {
  name: "login",

  data() {
    return {
      correo: "",
      password: "",
      error: "",
    };
  },

  components: {
    Nav,
  },

  methods: {
    login() {
      this.error = "";
      if (this.correo && this.password) {
        firebase
          .auth()
          .signInWithEmailAndPassword(this.correo, this.password)
          .then((user) => {
            this.$router.push({ name: "Dashboard" });
            console.log(user);
          })
          .catch((err) => {
            this.error = err.message;
          });

        //Formulario
      } else {
        this.error = "Todos los campos son requeridos";
      }
    },

    socialLogin() {
      const provider = new firebase.auth.GoogleAuthProvider();

      firebase
        .auth()
        .signInWithPopup(provider)
        .then((result) => {
          this.$router.replace({ name: "Dashboard" });
          console.log(result);
        })
        .catch((err) => {
          alert("Error: " + err.message);
        });
    },
  },
};
</script>

<style>
.background {
  height: 100vh;
  width: 100%;
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}

</style>
