<template>
  <div>
    <Nav />
    <div class="background">
      <div class="bg-img">
      <div class="container">
        <div class="card mt-3" style=" margin: 0 auto; max-width: 48rem;">
          <div class="card-body">
            <h3 class="card-title">Crear una cuenta</h3>
            <hr />
            <form action="#" @submit.prevent="register">
              <div class="form-group">
                <label for="">Nombre:</label>
                <input
                  type="text"
                  name=""
                  id="nombre"
                  class="form-control"
                  placeholder="Ingrese su Nombre"
                  aria-describedby="helpId"
                  v-model="nombre"
                />
              </div>

              <div class="form-group">
                <label for="">Correo:</label>
                <input
                  type="email"
                  name=""
                  id="correo"
                  class="form-control"
                  placeholder="Ingrese su Correo"
                  aria-describedby="helpId"
                  v-model="correo"
                />
              </div>

              <div class="form-group">
                <label for="">Contraseña:</label>
                <input
                  type="password"
                  name=""
                  id="contraseña"
                  class="form-control"
                  placeholder="Ingrese su COntraseña"
                  aria-describedby="helpId"
                  v-model="password"
                />
              </div>

              <button type="submit" class="btn btn-primary">Registrarme</button>
            </form>

            <div class="alert alert-danger mt-3" role="alert" v-if="error">
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import "@/firebase/init.js";
import Nav from "@/components/Nav";
import firebase from "firebase";

export default {
  name: "register",

  data() {
    return {
      nombre: "",
      correo: "",
      password: "",
      error: "",
    };
  },

  components: {
    Nav,
  },

  methods: {
    register() {
      this.error = "";
      if (this.nombre && this.correo && this.password) {
        firebase
          .auth()
          .createUserWithEmailAndPassword(this.correo, this.password)
          .then((user) => {
            (this.nombre = ""),
              (this.correo = ""),
              (this.password = ""),
              console.log(user);
          })
          .catch((err) => {
            this.error = err.message;
          });

        //Formulario
      } else {
        this.error = "Todos los campos son requeridos";
      }
    },
  },
};
</script>

<style>

.background {
  height: 100vh;
  width: 100%;
  
}

.bg-img {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}


</style>
